@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F9;
  --card: #FFFFFF;
  --button: #43C2D1;
}

.bg-background {
  background-color: var(--background);
}

.bg-card {
  background-color: var(--card);
}

.bg-button {
  background-color: var(--button);
}
